@use './vars' as *;

@mixin bordered {
  border: 3px solid $black;
}

@mixin rounded {
  border-radius: 5px;
}

@mixin general-button {
  font-size: inherit;
  background-color: $primary;
  padding:0px 5px 7px;
  cursor: pointer;
  &:hover { 
    background-color: darken($color: $primary, $amount: 5%)
  }
}

@mixin general-input {
  font-size: inherit;
  background-color: $primary;
  border-radius: 5px;
  padding:0px 5px 7px;
}

//100vh height for every screen but small ones
@mixin force-fullscreen-ns {
  @include media(">tablet") {
    height: 100vh;
  }
}
