//colors
$black: rgb(47, 46, 65);
$primary: #f9f4f5;
$error: #f18097;
$secondary: #6096ba;
//fonts
$font: "Itim", cursive;
$logo-font-size: clamp(52pt, 5vw, 77pt);
$prp-font-size: clamp(19pt, 2vw, 35pt);
$sm-font-size: clamp(10pt, 2vw, 14pt);
